<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bysj.wyb.teacher.mapper.TeacherMapper">
    <select id="login" resultType="com.bysj.wyb.teacher.entity.Teacher">
        select *,isdelete as del from pd_teacher where uid=#{uid};
    </select>

    <update id="updatePersonalImformation" parameterType="com.bysj.wyb.teacher.entity.Teacher">
        update pd_teacher set name=#{name},phone=#{phone},sex=#{sex} where uid=#{uid}
    </update>

</mapper>